{% extends "layout.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{url_for('static', filename='homepage.css')}}">
<script>
  $(document).ready(function () {
    $('#learnbtn').click(function () {
      window.location.href = '/learn/1';
    });
    $('#quizbtn').click(function () {
      window.location.href = '/quiz/hard';
    })
  });
</script>
{% endblock %}

{% block content %}
<div class="page-wrapper">
  <div class="container">
    <p class="welcome">
      Welcome!
    </p>
    <p class="sub">
      Learn 16 northern hemisphere autumn-winter constellations
      <br>
    </p>
    <img class="home-image" src="{{ url_for('static', filename='mainpage.png') }}">
    <button class="btn learn" type="button" id="learnbtn">Learn the constellations</button>
    <button class="btn quiz" type="button" id="quizbtn">Test your knowledge</button>
  </div>
  <br>
</div>

{% endblock %}