{% extends "layout.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{url_for('static', filename='quiz_finish.css')}}">
<script type="text/javascript">
	let score = JSON.parse('{{ score| tojson | safe }}');
</script>
<script src="{{ url_for('static', filename='quiz_finish.js') }}"></script>
{% endblock %}

{% block content %}
<div class="page-wrapper">
  <div class="container">
    <p class="welcome">
      Great job!
    </p>
    <p id="score">
    </p>
    <button class="btn learn" type="button" id="easy">Review and retake quiz</button>
    <button class="btn quiz" type="button" id="learn">Continue learning</button>
    <button class="btn quiz" type="button" id="hard">Challenge yourself</button>
  </div>
  <br>
</div>

{% endblock %}