{% extends "layout.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{url_for('static', filename='homepage.css')}}">
<script type="text/javascript">
  let round = JSON.parse('{{ round| tojson | safe }}');
</script>
<script>
  $(document).ready(function () {

    $('#learnbtn').click(function () {
      if (round == "1")
        window.location.href = '/learn/1';
      else
        window.location.href = '/learn/3';
    });
    $('#quizbtn').click(function () {
      if (round == "1")
        window.location.href = '/quiz/easy/1';
      else
        window.location.href = '/quiz/easy/2';
    })
  })
</script>
{% endblock %}

{% block content %}
<div class="container">
  <p class="welcome">
    You've finished learning:
  </p>
  <button class="btn quiz bottomposition" type="button" id="learnbtn">Review</button>
  <button class="btn learn topposition" type="button" id="quizbtn">Test your knowledge</button>
</div>

{% endblock %}