{% extends "layout.html" %}

{% block extra_head %}
<link href="{{ url_for('static', filename='quiz_easy.css') }}" rel="stylesheet">
<script type="text/javascript">
	let shuffledConstellations = JSON.parse('{{ shuffled_constellations | tojson | safe }}');
</script>
<script src="{{ url_for('static', filename='quiz_easy.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-8">
			<div id="progress-container">
				<div class="progress-rect"></div>
				<div class="progress-rect"></div>
				<div class="progress-rect"></div>
				<div class="progress-rect"></div>
				<div class="progress-rect"></div>
				<div class="progress-rect"></div>
				<div class="progress-rect"></div>
				<div class="progress-rect"></div>
				<div class="progress-rect"></div>
				<div class="progress-rect"></div>
				<div class="progress-rect"></div>
				<div class="progress-rect"></div>
				<div class="progress-rect"></div>
				<div class="progress-rect"></div>
				<div class="progress-rect"></div>
				<div class="progress-rect"></div>
			  </div>
			<div id="quiz-container" class="text-center">
				<div id="image-container" class="my-4"></div>

				<div id="answer-container" class="my-4">
                    <div class="row mb-2">
                        <div class="col-6">
                            <button id="0" type="button" class="option btn w-100 py-3 learn">A</button>
                        </div>
                        <div class="col-6">
                            <button id="1" type="button" class="option btn w-100 py-3 learn">B</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button id="2" type="button" class="option btn w-100 py-3 learn">C</button>
                        </div>
                        <div class="col-6">
                            <button id="3" type="button" class="option btn w-100 py-3 learn">D</button>
                        </div>
                    </div>
				</div>

				<div id="feedback-container" class="my-4">
					<div id="feedback-text"></div>
				</div>

				<div class="row my-4">
					<div class="col-12">
						<div class="d-flex justify-content-end align-items-center">
							<h5 id="score" class="score mr-3">Score:</h5>
							<div class="ml-3">
								<button id="next-btn" class="btn learn" disabled>Next →</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}